# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ahrorus\Documents\SJSU\CS 151-08 Object Oriented Design\Popular_Google_Search_Keywords_Hashing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
